@charset "UTF-8";
/* Scss Document */
/* --------------------------------
 * Base
 * -------------------------------- */
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* --------------------------------
 * Variables
 * -------------------------------- */
/* --------------------------------
 * Parts
 * -------------------------------- */
section {
  padding: 100px 50px;
}

.section-title {
  font-size: 6rem;
  color: #575757;
  text-align: center;
  text-shadow: 10px 10px 15px #989898;
}

.section-subtitle {
  font-size: 1.5rem;
  color: #575757;
  text-align: center;
  margin: 20px 0 40px;
}

.description {
  color: #808080;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.text-bold {
  font-weight: 600;
  color: #575757;
  font-size: 2rem;
  margin: 5px 0 15px;
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.back-to-top-icon {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 30px;
  -webkit-animation: BackToTopBounce 2s ease-in-out infinite;
          animation: BackToTopBounce 2s ease-in-out infinite;
}

@-webkit-keyframes BackToTopBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes BackToTopBounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.FloatMenuButton {
  color: #fff;
  display: none;
  width: 70px;
  height: 25px;
  padding-left: 22px;
  line-height: 20px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
  background-position: left 12% center;
  position: fixed;
  bottom: 60px;
  left: -150%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 500;
  border: none;
  cursor: pointer;
  outline: none;
}

.FloatCloseButton {
  display: none;
  color: #575757;
  background-color: #fff;
  background-image: url("../images/close-overlay.png");
  background-repeat: no-repeat;
  background-position: left 19% center;
}

/* --------------------------------
 * global-nav-sp(overlay)
 * -------------------------------- */
.global-nav-sp {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 100;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.global-nav-sp .nav-menu-sp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.global-nav-sp .nav-menu-sp .nav-item-sp {
  margin-bottom: 40px;
}

.global-nav-sp .nav-menu-sp .nav-item-sp a {
  display: inline-block;
  color: #fff;
  font-size: 2.5rem;
}

.global-nav-sp .nav-menu-sp .nav-item-sp a::after {
  display: block;
  content: '';
  margin: 5px auto 0;
  border-bottom: 2px solid #fff;
  width: 0%;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.global-nav-sp .nav-menu-sp .nav-item-sp a:hover::after {
  width: 100%;
}

/* --------------------------------
 * Header
 * -------------------------------- */
.header {
  width: 100%;
  height: 80vh;
  position: relative;
  padding-top: 40vh;
  background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
  background-size: 600% 600%;
  -webkit-animation: GradationAnimation 5s ease infinite;
          animation: GradationAnimation 5s ease infinite;
}

@-webkit-keyframes GradationAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradationAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo .logo-title {
  font-size: 7rem;
  text-align: center;
  color: #636b73;
  -webkit-animation: TextAnimation 3s ease-in;
          animation: TextAnimation 3s ease-in;
}

@-webkit-keyframes TextAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.23);
            transform: scale(1.23);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes TextAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.23);
            transform: scale(1.23);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.logo .logo-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15px;
  color: #636b73;
  -webkit-animation: TextAnimation 3s ease-in;
          animation: TextAnimation 3s ease-in;
}

@keyframes TextAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.23);
            transform: scale(1.23);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.ScrollSign {
  display: none;
  text-align: center;
  margin: 150px auto 0;
  line-height: 130px;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ScrollSign span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.ScrollSign span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: mousewheel 2s infinite;
          animation: mousewheel 2s infinite;
}

@-webkit-keyframes mousewheel {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mousewheel {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* --------------------------------
 * HamburgerIcon
 * -------------------------------- */
.HamburgerIcon {
  display: none;
  position: absolute;
  width: 45px;
  top: 20px;
  right: 20px;
  text-align: right;
  background-color: transparent;
  font-size: 0;
  z-index: 200;
  cursor: pointer;
}

.HamburgerIcon__line {
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #575757;
  margin-bottom: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.HamburgerIcon__line:first-of-type {
  width: 45px;
}

.HamburgerIcon__line:nth-of-type(2) {
  width: 35px;
}

.HamburgerIcon__line:last-of-type {
  width: 25px;
  margin-bottom: 0;
}

.HamburgerIcon.clicked .HamburgerIcon__line {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.HamburgerIcon.clicked .HamburgerIcon__line:first-of-type {
  width: 35px;
  -webkit-transform: translateY(12px) rotate(135deg);
          transform: translateY(12px) rotate(135deg);
}

.HamburgerIcon.clicked .HamburgerIcon__line:nth-of-type(2) {
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.HamburgerIcon.clicked .HamburgerIcon__line:nth-of-type(3) {
  width: 35px;
  -webkit-transform: translateY(-12px) rotate(-135deg);
          transform: translateY(-12px) rotate(-135deg);
}

.ScrollLock {
  overflow: hidden;
}

/* --------------------------------
 * global-nav
 * -------------------------------- */
.global-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 10px 20px #a9a9a9;
          box-shadow: 0 10px 20px #a9a9a9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.global-nav .nav-menu {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
}

.global-nav .nav-menu .nav-item {
  text-align: center;
}

.global-nav .nav-menu .nav-item a {
  width: 70px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.global-nav .nav-menu .nav-item a::after {
  display: block;
  content: '';
  border-bottom: 2px solid #fff;
  margin: auto;
  width: 0;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.global-nav .nav-menu .nav-item a:hover::after {
  width: 100%;
}

/* --------------------------------
 * ABOUT section
 * -------------------------------- */
.about {
  background-color: #fff;
  padding-top: 110px;
}

.about-container {
  margin: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-container .about-image {
  margin: auto;
}

.about-container .about-image .profile-image {
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 15px #a9a9a9;
          box-shadow: 10px 10px 15px #a9a9a9;
}

.about-container .description {
  font-size: 2rem;
  width: 600px;
  padding-left: 20px;
  margin-top: 30px;
}

.about-container .description p:nth-child(2), .about-container .description :nth-child(3) {
  margin-bottom: 30px;
}

/* --------------------------------
 * WORKS Section
 * -------------------------------- */
.works {
  background-color: #f9f9f9;
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0;
  max-width: 1500px;
}

.works-container .works-item {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  width: 32%;
  margin: 0 0 20px 0;
  text-align: center;
  -webkit-box-shadow: 10px 10px 15px #a9a9a9;
          box-shadow: 10px 10px 15px #a9a9a9;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  padding-bottom: 30px;
}

.works-container .works-item .works-image {
  width: 100%;
}

.works-container .works-item .works-name {
  color: #575757;
  margin: 10px 0;
  font-size: 2rem;
}

.works-container .works-item .works-type {
  color: #575757;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 0 10px;
}

.works-container .works-item .works-detail {
  color: #808080;
  text-align: left;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.works-container .works-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.works-container .works-item::before {
  content: '';
  display: block;
  left: 100%;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  pointer-events: none;
}

.works-container .works-item:hover::before {
  content: '';
  display: block;
  position: absolute;
  padding-top: 75%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  pointer-events: none;
}

.works-container .works-item::after {
  content: '';
  left: 100%;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  pointer-events: none;
}

.works-container .works-item:hover::after {
  content: 'MORE';
  display: block;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 50%;
  margin-top: 37.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  right: 0;
  left: 0;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 3px solid #fff;
  pointer-events: none;
}

.works-container .works-item .works-reference {
  display: inline-block;
  margin: auto;
  border-bottom: solid 4px #627295;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #7fbfff;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3px;
  font-weight: bold;
}

.works-container .works-item .works-reference:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* --------------------------------
 * FEATURE Section
 * -------------------------------- */
.feature {
  background-color: #fff;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
}

.feature-container .feature-image {
  width: 48%;
}

.feature-container .feature-image img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px #a9a9a9;
          box-shadow: 10px 10px 15px #a9a9a9;
  border: 1px solid #a9a9a9;
}

.feature-container .feature-item {
  width: 48%;
  padding: 5px 0;
}

.feature-container .feature-item .website-name {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  color: #575757;
  margin-bottom: 5px;
}

.feature-container .feature-item .website-url {
  display: block;
  width: 100%;
  color: #1e90ff;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.feature-container .feature-item .responsibility {
  width: 100%;
  font-size: 1.5rem;
  color: #808080;
  margin-bottom: 20px;
  line-height: 1.5;
}

.feature-container .feature-item .description {
  font-size: 1.5rem;
}

.feature-container .feature-item .description:first-of-type {
  margin-bottom: 10px;
}

/* --------------------------------
 * SKILLS Section
 * -------------------------------- */
.skills {
  background-color: #f9f9f9;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1500px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid transparent;
}

.skills-container .skills-item {
  border: 1px solid transparent;
  width: 33%;
  position: relative;
}

.skills-container .skills-item .skills-item-detail {
  margin-bottom: 20px;
}

.skills-container .skills-item .skills-item-detail .skills-name {
  text-align: center;
  font-size: 1.5rem;
  color: #575757;
  margin: 10px 0;
}

.skills-container .skills-item .skills-item-detail .skills-rating {
  text-align: center;
  font-size: 1.5rem;
  color: #808080;
  margin: 10px 0;
}

.skills-container .skills-item .skills-item-detail .description {
  font-size: 1.2rem;
  padding: 0 10px;
}

.skills-container .skills-item:nth-of-type(1) > .skills-icon {
  display: block;
  text-align: center;
  font-size: 10rem;
  color: #FF8000;
}

.skills-container .skills-item:nth-of-type(2) > .skills-icon {
  display: block;
  text-align: center;
  font-size: 10rem;
  color: #0063FF;
}

.skills-container .skills-item:nth-of-type(3) > .skills-icon {
  display: block;
  text-align: center;
  font-size: 10rem;
  color: #FFBE01;
}

.skills-container .skills-item:nth-of-type(4) > .skills-icon {
  display: block;
  text-align: center;
  font-size: 10rem;
  color: #FB52AC;
}

.skills-container .skills-item:nth-of-type(5) > .skills-icon {
  display: block;
  margin: auto;
}

.skills-container .skills-item:nth-of-type(6) > .skills-icon {
  display: block;
  margin: auto;
}

.skills-container .skills-item:nth-of-type(1) .skills-rating::before {
  content: '★★★★★';
  position: absolute;
  color: #00ABCE;
}

.skills-container .skills-item:nth-of-type(2) .skills-rating::before {
  content: '★★★★★';
  position: absolute;
  color: #00ABCE;
}

.skills-container .skills-item:nth-of-type(3) .skills-rating::before {
  content: '★★★';
  position: absolute;
  color: #00ABCE;
}

.skills-container .skills-item:nth-of-type(4) .skills-rating::before {
  content: '★★★★';
  position: absolute;
  color: #00ABCE;
}

.skills-container .skills-item:nth-of-type(5) .skills-rating::before {
  content: '★★★';
  position: absolute;
  color: #00ABCE;
}

.skills-container .skills-item:nth-of-type(6) .skills-rating::before {
  content: '★★★★★';
  position: absolute;
  color: #00ABCE;
}

/* --------------------------------
 * CONTACT Section
 * -------------------------------- */
.contact {
  background-color: #fff;
  text-align: center;
}

.contact .facebook-button i {
  font-size: 8rem;
  color: #4267B2;
  margin: 0 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact .facebook-button i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact .twitter-button i {
  font-size: 8rem;
  color: #1DA1F2;
  margin: 0 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact .twitter-button i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact .email {
  display: block;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #575757;
}

/* --------------------------------
 * Footer
 * -------------------------------- */
.footer {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
}

.footer .copyright {
  width: 100%;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* --------------------------------
 * Responsive CSS (max-width: 1024px)
 * -------------------------------- */
@media (max-width: 1024px) {
  .works-container .works-item {
    width: 49%;
  }
  .works-container .works-item::before {
    display: none;
  }
  .works-container .works-item:hover::before {
    display: none;
  }
  .works-container .works-item::after {
    display: none;
  }
  .works-container .works-item:hover::after {
    display: none;
  }
  .works-container .works-item:hover {
    -webkit-transform: none;
            transform: none;
    opacity: 0.8;
  }
  .skills-container .skills-item {
    width: 50%;
  }
}

/* --------------------------------
 * Responsive CSS (max-width: 768px)
 * -------------------------------- */
@media (max-width: 768px) {
  .text-bold {
    margin: 20px 0 10px;
  }
  section {
    padding: 50px 20px;
  }
  .section-title {
    font-size: 4rem;
  }
  .section-subtitle {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .ScrollSign {
    display: block;
  }
  .back-to-top-icon {
    font-size: 5rem;
  }
  .FloatMenuButton {
    display: block;
    left: 50%;
  }
  .FloatCloseButton {
    display: block;
  }
  .header {
    height: 100vh;
    padding-top: 50vh;
  }
  .header .HamburgerIcon {
    display: block;
  }
  .logo .logo-title {
    font-size: 3rem;
  }
  .global-nav {
    display: none;
  }
  .works-container .works-item {
    margin: 0 auto 50px;
    width: 100%;
  }
  .about-container .description {
    font-size: 1.5rem;
    padding: 0 20px;
  }
  .feature-container .feature-image {
    width: 100%;
  }
  .feature-container .feature-item {
    width: 100%;
  }
  .feature-container .feature-item .responsibility {
    font-size: 1.5rem;
  }
  .skills-container .skills-item {
    width: 100%;
  }
  .contact .back-to-top-icon {
    font-size: 5rem;
    bottom: 60px;
    right: 30px;
  }
  .footer {
    height: 50px;
    padding-top: 25px;
  }
  .footer .copyright {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */